<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- Apple devices fullscreen -->
<meta name="apple-mobile-web-app-capable" content="yes">
<!-- Apple devices fullscreen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="stylesheet" href="__STATIC__/common/minipro/css/amazeui.min.css?v={$version}"/>
<link rel="stylesheet" href="__STATIC__/common/minipro/css/app.css?v={$version}"/>
<link rel="stylesheet" href="__STATIC__/common/minipro/css/font_783249_m68ye1gfnza.css">
<script type="text/javascript" src="__STATIC__/common/minipro/js/jquery.min.js?v={$version}"></script>
<script src="__STATIC__/common/minipro/js/font_783249_e5yrsf08rap.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugins/layer-v3.1.0/layer.js"></script>
<script>
    var eyou_basefile = "{$Request.baseFile}";
    var module_name = "{$Think.const.MODULE_NAME}";
    var GetUploadify_url = "{:url('Uploadify/upload')}";
    var __root_dir__ = "__ROOT_DIR__";
    var __lang__ = "{$admin_lang}";
</script>
<script src="__SKIN__/js/global.js?v={$version}"></script>
</head>
<body data-type="">
<div class="am-g tpl-g">
    {include file="minipro/left" /}
    <div class="tpl-content-wrapper ">
        <style>
            .img__category_style {
                width: 100%;
                box-shadow: 0 3px 10px #dcdcdc;
            }
        </style>
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <form id="my-form" class="am-form tpl-form-line-form" method="post">
                            <div class="widget-body">
                                <fieldset>
                                    <div class="widget-head am-cf">
                                        <div class="widget-title am-fl">分类页模板</div>
                                    </div>
                                    <div class="wrapper am-container">
                                        <div class="left-style am-u-sm-12 am-u-md-12 am-u-lg-4">
                                            <img class="img__category_style"
                                                 src="__STATIC__/common/minipro/img/category_tpl/{$catInfo['category_style']|default='10'}.png?v={$version}">
                                        </div>
                                        <div class="right-form am-u-sm-12 am-u-md-12 am-u-lg-8">
                                            <div class="am-form-group">
                                                <label class="am-u-sm-3 am-form-label form-require"> 分类页样式 </label>
                                                <div class="am-u-sm-9">
                                                    <label class="am-radio-inline">
                                                        <input type="radio" name="category[category_style]" value="10"
                                                               data-am-ucheck {eq name='$catInfo.category_style' value='10'} checked {/eq} required>
                                                        一级分类 (大图)
                                                    </label>
                                                    <label class="am-radio-inline">
                                                        <input type="radio" name="category[category_style]" value="11"
                                                               data-am-ucheck {eq name='$catInfo.category_style' value='11'} checked {/eq}>
                                                        一级分类 (小图)
                                                    </label>
                                                    <label class="am-radio-inline">
                                                        <input type="radio" name="category[category_style]" value="20"
                                                               data-am-ucheck {eq name='$catInfo.category_style' value='20'} checked {/eq}>
                                                        二级分类
                                                    </label>
                                                    <label class="am-radio-inline">
                                                        <input type="radio" name="category[category_style]" value="30"
                                                               data-am-ucheck {eq name='$catInfo.category_style' value='30'} checked {/eq}>
                                                        树形分类
                                                    </label>
                                                    <div class="help__style help-block am-margin-top-xs">
                                                        <small class="{neq name='$catInfo.category_style' value='10'} hide {/neq}"
                                                               data-value="10">分类图尺寸：宽750像素 高度不限
                                                        </small>
                                                        <small class="{neq name='$catInfo.category_style' value='11'} hide {/neq}"
                                                               data-value="11">分类图尺寸：宽188像素 高度不限
                                                        </small>
                                                        <small class="{neq name='$catInfo.category_style' value='20'} hide {/neq}"
                                                               data-value="20">分类图尺寸：宽150像素 高150像素
                                                        </small>
                                                        <small class="{neq name='$catInfo.category_style' value='30'} hide {/neq}"
                                                               data-value="30">默认全部展开
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="am-form-group">
                                                <label class="am-u-sm-3 am-form-label form-require"> 导航标题 </label>
                                                <div class="am-u-sm-9">
                                                    <input type="text" class="tpl-form-input" name="category[nav_title]"
                                                           value="{$catInfo['nav_title']|default='全部分类'}" required>
                                                </div>
                                            </div>
                                            <div class="am-form-group" style="display: none;">
                                                <label class="am-u-sm-3 am-form-label form-require"> 分享标题 </label>
                                                <div class="am-u-sm-9">
                                                    <input type="text" class="tpl-form-input" name="category[share_title]"
                                                           value="{$catInfo['share_title']|default=''}" required>
                                                </div>
                                            </div>
                                            <div class="am-form-group">
                                                <div class="am-u-sm-9 am-u-sm-push-3 am-margin-top-lg">
                                                    <input type="hidden" name="category[mini_id]" value="{$catInfo['mini_id']|default=$Request.param.mini_id}">
                                                    <button type="submit" class="j-submit am-btn am-btn-secondary">提交
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        // 切换分类样式图
        var $imgCategorystyle = $('.img__category_style');
        var $helpStyleSmall = $('.help__style').find('small');
        $("input[name='category[category_style]']").change(function (e) {
            var styleValue = e.currentTarget.value;
            $helpStyleSmall.hide().filter('[data-value=' + styleValue + ']').show();
            $imgCategorystyle.attr('src', '__STATIC__/common/minipro/img/category_tpl/' + styleValue + '.png?v={$version}');
        });

        /**
         * 表单验证提交
         * @type {*}
         */
        $('#my-form').superForm();

    });
</script>

<script type="text/javascript" src="__PUBLIC__/plugins/layer-v3.1.0/layer.js"></script>
<script type="text/javascript" src="__STATIC__/common/minipro/js/jquery.form.min.js"></script>
<script type="text/javascript" src="__STATIC__/common/minipro/js/amazeui.min.js"></script>

{include file="public/footer" /}