
<div class="top">
    <div class="middle">
        <div class="logo"><h1><a href="index.html" title=""><img src="images/logo.png" alt="" /></a></h1></div>
        <div class="nav">

            <a href="index.php" title="" class="on">网站首页</a>
            <a href="产品展示.html" title="">产品展示</a>
            <a href="案例展示.html" title="">案例展示</a>
            <a href="新闻中心.html" title="">新闻中心</a>
            <a href="关于我们.html" title="">关于我们</a>
            <a href="联系我们.html" title="">联系我们</a>
        </div>
    </div>
</div>